<h2><%= params[:repository] %></h2>

<h4><a href="<%= blob_path(params[:repository], @commit, @blob) %>" title="<%= @blob.id %>"><%= @blob.name %></a></h4>


Commit: <a href="<%= commit_path(params[:repository], @commit) %>"><%= @commit.id %></a><br />
Tree: <a href="<%= tree_path(params[:repository], @commit, @commit.tree) %>"><%= @commit.tree.id %></a><br />


<code>
<%= @blob.data %>
</code>