<h2 class="repos_name"><a href="<%= repository_path(params[:repository]) %>"><%= make_readable(params[:repository]) %></a></h2>

<h2>Tree</h2>

Commit: <a href="<%= commit_path(params[:repository], @commit)  %>"><%= @commit.id %></a><br />
id: <a href="<%= tree_path(params[:repository], @commit, @commit.tree) %>"><%= @commit.tree.id %></a><br />
<% if @commit.parents.size == 1 %>
Parent commit:
<% if @commit.parents.first.id == @tree.id %>
Root
<% else%>
<a href="<%= commit_path(params[:repository], @commit.parents.first) %>"><%= @commit.parents.first.id %></a>
<% end %>
<br />
<% else %>
Parents: multiple
<% end %>

<h3>Files</h3>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th></th>
    <th>Name</th>
  </tr>
<% @tree.contents.each do |c| %>
  <%= render :partial => '/shared/content', :locals => { :c => c } %>
	<% end %>
    </table>